.image-wrapper {
    position: relative;
    height: 12.5em;
    overflow: hidden;
}

    .image-wrapper img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
}